@model NDHSITE.Models.HaiOrder
@{
    ViewBag.Title = "Detail";
}

<div class="page-header">
    <h3 class="page-title">Chi tiết đơn hàng</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Chi tiết đơn hàng</a></li>
    </ol>
</div> <!-- /.page-header -->
 <!--
@if (Model.OrderStatus == "process")
{
   
    <div class="row">
        <div class="col-sm-6">
            <form method="post" onsubmit="if(!confirm('Kết thúc đơn hàng?')){return false;}" action="/order/finish">
                <input type="hidden" value="@Model.Id" name="id" />
                <div class="form-group">
                    <select class="form-control" name="status">
                        <option value="1">Kết thúc đơn hàng</option>
                        <option value="0">Hủy không giao hàng</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ghi chú</label>
                    <input type="text" name="notes" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Xác nhận</button>
            </form>
        </div>
    </div>
}
@if (Model.OrderStatus == "finish")
{
    <h4>Đơn hàng đã hoàn thành</h4>
}
@if (Model.OrderStatus == "cancel")
{
    <h4>Đơn hàng đã hủy</h4>
}

        -->

<ul id="myTab2" class="nav nav-pills">
    <li class="active">
        <a href="#home-2" data-toggle="tab">Mặt hàng</a>
    </li>
    <li>
        <a href="#profile-3" data-toggle="tab">Nhân viên thực hiện</a>
    </li>
</ul>

<div id="myTab2Content" class="tab-content">
    <div class="tab-pane fade in active" id="home-2">
        <fieldset>
            <table class="table table-striped table-bordered thumbnail-table">
                <thead>
                    <tr>
                        <th><strong>Mã hàng</strong></th>
                        <th><strong>Tên hàng</strong></th>
                        <th><strong>Loại hàng</strong></th>
                        <th><strong>SL đặt</strong></th>
                        <th><strong>Tổng tiền</strong></th>
                        <th><strong>Tông tiền thực</strong></th>
                        <th><strong>Trạng thái</strong></th>
                        @if (Model.OrderStatus == "process")
                        {
                            <th><strong>Số thùng giao</strong></th>
                            <th><strong>Số lẽ giao</strong></th>
                        }
                        else
                        {
                            <th><strong>SL giao</strong></th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderProducts)
                    {
                        <tr>
                            <td>@item.ProductInfo.PCode</td>
                            <td>@item.ProductInfo.PName</td>
                            <td>
                                @if (Model.OrderStatus == "process")
{
                                <select class="chk" data-uid="@item.ProductId">
                                    <option value="">Chưa chọn</option>
                                    <option value="warehouse" @(item.ProductType == "warehouse" ? "selected" : "")>Hàng gửi kho</option>
                                    <option value="new" @(item.ProductType == "new" ? "selected" : "")>Hàng xuất mới</option>
                                </select>
}
                            </td>
                            <td>
                                @NDHSITE.Util.HaiUtil.ConvertProductQuantityText(item.ProductInfo.Quantity, item.Quantity, item.ProductInfo.Unit)<br />
                            </td>
                            <td> @(item.PriceTotal != null ? item.PriceTotal.Value.ToString("C", NDHSITE.Util.Cultures.VietNam) : "0") </td>
                            <td id="@("money" + item.ProductId)">
                                @(item.PerPrice != null ? (item.PerPrice * item.QuantityFinish).Value.ToString("C", NDHSITE.Util.Cultures.VietNam) : "0")
                            </td>
                            <td id="@("stt" + item.ProductId)">
                                @if (item.QuantityFinish == 0)
                                {
                                    <span>Chưa giao</span>
                                }
                                else if (item.QuantityFinish == item.Quantity)
                                {
                                    <span>Giao đủ</span>
                                }
                                else if (item.Quantity < item.QuantityFinish)
                                {
                                    <span>Giao nhiều hơn</span>
                                }
                                else if (item.Quantity > item.QuantityFinish)
                                {
                                    <span>Giao ít hơn</span>
                                }
                            </td>
                            @if (Model.OrderStatus == "process")
                            {
                                <td><input type="number" id="@("can"+ item.ProductId)" value="@(item.QuantityFinish/item.ProductInfo.Quantity)" /></td>
                                <td><input type="number" id="@("box"+ item.ProductId)" value="@(item.QuantityFinish%item.ProductInfo.Quantity)" /></td>
                                <td>
                                    <button type="button" onclick="updateReal('@item.ProductId', '@item.OrderId')">nhập</button>
                                </td>
                            }
                            else
                            {
                                <td>@NDHSITE.Util.HaiUtil.ConvertProductQuantityText(item.ProductInfo.Quantity, item.QuantityFinish, item.ProductInfo.Unit)</td>
                            }


                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="tab-pane fade" id="profile-3">
        <fieldset>
            <table class="table table-striped table-bordered thumbnail-table">
                <thead>
                    <tr>
                        <th><strong>Thao tác</strong></th>
                        <th><strong>Ngày thực hiện</strong></th>
                        <th><strong>Nhân viên</strong></th>
                        <th><strong>Đơn vị</strong></th>
                        <th><strong>Ghi chú</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderStaffs)
                    {
                        <tr>
                            <td>@item.OrderStaffProcess.Name</td>
                            <td>@item.CreateTime</td>
                            <td>@item.HaiStaff.FullName - @item.HaiStaff.Code</td>
                            <td>@item.HaiStaff.HaiBranch.Code</td>
                            <td>@item.Notes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

<br />
<br />
<form method="post" onsubmit="if(!confirm('Chỉnh sửa đơn hàng?')){return false;}" action="/order/update">
    <div class="row">
        <div class="col-sm-6">
            <input type="hidden" value="@Model.Id" name="Id" />
            <div class="form-group">
                <label>Mã đơn hàng</label>
                <input type="text" value="@Model.Code" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Mã khách hàng</label>
                <input type="text" value="@Model.CInfoCommon.CCode" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Cửa hàng</label>
                <input type="text" value="@Model.CInfoCommon.CName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Người đại diện</label>
                <input type="text" value="@Model.CInfoCommon.CDeputy" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Chi nhánh</label>
                <input type="text" value="@Model.BrachCode" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Địa chỉ giao hàng</label>
                <input type="text" value="@Model.ReceiveAddress" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Điện thoại liên hệ</label>
                <input type="text" value="@Model.ReceivePhone1" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Nơi giao</label>
                <select class="form-control" name="Sender">
                    @foreach (var item in ViewBag.C1)
                    {
                        if (item.code == "B")
                        {
                            if (Model.SalePlace == "B")
                            {
                                <option value="@item.code" selected>@item.name</option>
                            }
                            else
                            {
                                <option value="@item.code">@item.name</option>
                            }
                        }
                        else if (Model.C1Code == item.code)
                        {
                            <option value="@item.code" selected>@item.name - @item.code</option>
                        }
                        else
                        {
                            <option value="@item.code">@item.name - @item.code </option>
                        }

                    }
                </select>
            </div>


        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Tình trạng đơn hàng</label>
                <input type="text" value="@Model.OStatus.Name" class="form-control warning" disabled />
            </div>
            <div class="form-group">
                <label>Hình thức thành toán</label>

                @if (Model.OrderStatus == "begin")
                {
                    <select class="form-control" name="PayType">
                        @foreach (var item in ViewBag.PayType)
                        {
                            if (item.Id == Model.PayType)
                            {
                                <option selected value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                }
                else
                {
                    <input type="text" value="@Model.PType.Name" class="form-control" disabled />
                }
            </div>
            <div class="form-group">
                <label>Phương thức giao hàng</label>

                @if (Model.OrderStatus == "begin")
                {
                    <select class="form-control" name="ShipType">
                        @foreach (var item in ViewBag.ShipType)
                        {
                            if (item.Id == Model.ShipType)
                            {
                                <option selected value="@item.Id">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                }
                else
                {
                    <input type="text" value="@Model.SType.Name" class="form-control" disabled />
                }
            </div>
            <div class="form-group">
                <label>Ngày đặt hàng</label>
                <input type="text" value="@Model.CreateDate" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Ngày đề nghị giao</label>
                @if (Model.OrderStatus == "begin")
                {
                    <input type="text" class="form-control" id="datesuggest" name="ExpectDate" value="@Model.ExpectDate" />
                }
                else
                {
                    <input type="text" value="@Model.ExpectDate" class="form-control" disabled />

                }
            </div>
            <div class="form-group">
                <label>Tổng tiền</label>
                <input type="text" value="@(Model.PriceTotal != null?Model.PriceTotal.Value.ToString("C", NDHSITE.Util.Cultures.VietNam):"0")" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Ghi chú đặt hàng</label>
                <input type="text" value="@Model.Notes" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label>Hình thức đặt hàng</label>
                <input type="text" value="@Model.OType.Name" class="form-control" disabled />
            </div>
        </div>
    </div>

</form>

<br />
<br />

@section scripts {


    <script type="text/javascript">



        function updateReal(productId, orderId) {

            var quantityCan = $('#can' + productId).val();
            var quantityBox = $('#box' + productId).val();

            if (quantityCan === '' || quantityBox === '')
                alert("Nhập số lượng");
            else {

                $.ajax({
                    type: "POST",
                    url: "/order/UpdateDelivery",
                    data: { productId: productId, orderId: orderId, can: quantityCan, box: quantityBox },
                    success: function (response) {
                        if (response.id === 0) {
                            alert("Không thành công");
                        } else {

                            $('#money' + productId).text(response.money);
                            $('#stt' + productId).text(response.stt);
                            alert("Hoàn thành");
                        }
                    }
                });

            }


        }


        $(".chk").change(function () {
            var productId = $(this).attr("data-uid");
            var type = $(this).val();
            var orderId = '@Model.Id';

            $.ajax({
                type: "POST",
                url: "/Order/UpdateProductType",
                data: { orderId: orderId, productId: productId, type :  type},
                success: function (response) {
                    if (response.id === 1) {
                        alert("Đã đổi");
                    } else {
                        alert("Không hoàn thành");
                    }
                }
            });

        });
    </script>

}