@model PagedList.IPagedList<NDHSITE.Models.CalendarInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lịch công tác";
}

<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            Danh sách lịch công tác
        </h4>
    </div> <!-- /.portlet-header -->
    <div class="portlet-body">

        <form method="get">

            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Tháng</label>
                        <input type="number" name="month" value="@ViewBag.Month" class="form-control" />
                    </div>
                 
                    <button type="submit" class="btn btn-primary">Xem</button>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Năm</label>
                        <input type="number" name="year" value="@ViewBag.Year" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select name="status" class="form-control">
                            <option value="-1" @(ViewBag.Status == -1?"selected":"")>Tất cả</option>
                            <option value="1" @(ViewBag.Status == 1?"selected":"")>Đã xác nhận</option>
                            <option value="0" @(ViewBag.Status == 0?"selected":"")>Chưa xác nhận</option>
                            <option value="2" @(ViewBag.Status == 2?"selected":"")>Đang chỉnh sửa</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Mã nv/cn</label>
                        <input type="text" class="form-control" name="code" value="@ViewBag.Code" />
                    </div>
                </div>
            </div>

        </form>
        <br />
        <fieldset>
            <table class="table table-striped table-bordered thumbnail-table">

                <thead>
                    <tr>
                        <th><strong>Tên nhân viên</strong></th>
                        <th><strong>Chi nhánh</strong></th>
                        <th><strong>Tháng-Năm</strong></th>
                        <th><strong>Ngày gửi</strong></th>
                        <th><strong>Trạng thái</strong></th>
                        <th>#</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.HaiStaff.FullName - @item.HaiStaff.Code</td>
                            <td>@item.HaiStaff.HaiBranch.Code</td>
                            <td>@item.CMonth-@item.CYear</td>
                            <td>@item.CreateTime</td>
                            <td>
                                @if(item.CStatus == 0)
                                {
                                    <span>Chưa xác nhận</span>
                                } else if (item.CStatus == 1)
                                {
                                    <span>Đã xác nhận</span>
                                }
                                else if (item.CStatus == 2)
                                {
                                    <span>Đang điều chỉnh</span>
                                }
                            </td>
                            <td>
                                <a href="/checkin/showcalendardetail/@item.Id" target="_blank">Xem</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("showcalendar",
                                                         new { page, search = ViewBag.SearchText }))
        </fieldset>
    </div>
</div>

