@model PagedList.IPagedList<NDHSITE.Models.HaiBranch>
@using PagedList.Mvc;
@{
    ViewBag.Title = "CreateBrand";
}

<div class="page-header">
    <h3 class="page-title">Quản lý chi nhánh</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Chi nhánh</a></li>
    </ol>
</div> <!-- /.page-header -->

<p class="">Trang quản lý tất cả các chi nhánh của công ty cổ phần Nông Dược Hai, đây là trang chỉ cấp quyền cho Admin.</p>

<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-3 layout-sidebar">

                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="@(ViewBag.Tab == 0?"active":"")">
                        <a href="#allbrach" data-toggle="tab">
                            Danh sách chi nhánh
                        </a>
                    </li>
                    <li>
                        <a href="#addbranch" data-toggle="tab">
                            Thêm chi nhánh
                        </a>
                    </li>
                    <li class="@(ViewBag.Tab == 3?"active":"")">
                        <a href="#addarea" data-toggle="tab">
                            Khu vực
                        </a>
                    </li>
                </ul>

            </div> <!-- /.col -->

            <div class="col-md-10 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="tab-pane fade @(ViewBag.Tab == 0?"in active":"")" id="allbrach">
                        <form method="get">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control selectpicker" name="areaId" data-live-search="true">
                                            @if (ViewBag.AreaId == -1)
                                            {
                                                <option value="-1" selected>--Tất cả--</option>
                                            }
                                            else
                                            {
                                                <option value="-1">--Tất cả--</option>
                                            }

                                            @foreach (var item in ViewBag.AllArea)
                                            {
                                                if (item.Id == ViewBag.AreaId)
                                                {
                                                    <option data-tokens="@item.Name" value="@item.Id" selected>@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option data-tokens="@item.Name" value="@item.Id">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Tìm theo tên hoặc mã chi nhánh</label>
                                        <input type="text" name="search" value="@ViewBag.SearchText" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary">Xem chi nhánh</button>
                                </div>

                            </div>

                        </form>
                        <fieldset>
                            <table class="table table-striped table-bordered thumbnail-table">

                                <thead>
                                    <tr>
                                        <th>Tên chi nhánh</th>
                                        <th>Thông tin</th>
                                        <th>#</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td class="file-info valign-middle">
                                                <span><strong class="semibold">Mã chi nhánh:</strong> @item.Code</span> <br />
                                                <span><strong class="semibold">Mã khu vực:</strong> @item.HaiArea.Code</span> <br />
                                                <span><strong class="semibold">Số điện thoái:</strong> @item.Phone</span> <br />
                                                <span><strong class="semibold">Địa chỉ:</strong> @item.AddressInfo</span> <br />
                                                <span><strong class="semibold">Thông tin thêm:</strong> @item.Notes</span>
                                            </td>
                                            <td class="text-center valign-middle">
                                                <a  href="/haistaff/modifybranch/@item.Id" target="_blank">Sửa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("createbrand",
                                                         new { page, areaId = ViewBag.AreaId, search = ViewBag.SearchText }))
                        </fieldset>

                    </div>

                    <div class="tab-pane fade" id="addbranch">

                        <form method="post" onsubmit="if(!confirm('Thêm chi nhánh mới?')){return false;}">
                            <h3>Thêm chi nhánh</h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tên chi nhánh</label>
                                            <input type="text" class="form-control" name="Name" required="">
                                        </div> <!-- /.form-group -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Mã chi nhánh</label>
                                            <input type="text" class="form-control" name="Code" required="">
                                        </div> <!-- /.form-group -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Địa chỉ</label>
                                            <input name="AddressInfo" type="text" class="form-control">
                                        </div> <!-- /.form-group -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Điện thoại</label>
                                            <input name="Phone" type="text" class="form-control">
                                        </div> <!-- /.form-group -->
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>Khu vực</label>
                                            <select class="form-control" name="AreaId">
                                                @foreach (var are in ViewBag.AllArea)
                                                {
                                                    <option value="@are.Id">@are.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Ghi chú</label>
                                                <textarea name="Notes" class="form-control"></textarea>
                                            </div> <!-- /.form-group -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Thêm chi nhánh</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>

                    <div class="tab-pane fade @(ViewBag.Tab == 3?"in active":"")" id="addarea">
                        <h3>Thêm khu vực</h3>
                        <form method="post" action="/haistaff/createarea" onsubmit="if(!confirm('Thêm khu vực?')){return false;}">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tên khu vực</label>
                                        <input type="text" name="Name" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <input type="text" name="Notes" class="form-control" />
                                    </div>
                                </div>

                            </div>
                            <button class="btn btn-primary" type="submit">Thêm</button>
                        </form>
                        <br />
                        <fieldset>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tên khu vực</th>
                                        <th>Ghi chú</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var are in ViewBag.AllArea)
                                    {
                                        <tr>
                                            <td>@are.Name - @are.Code</td>
                                            <td>@are.Notes</td>
                                            <td>
                                                <a href="/haistaff/modifyarea/@are.Id">Sửa</a>
                                                &nbsp;&nbsp;<a href="javascript:removeArea(@are.Id)">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" action="/haistaff/deletearea" onsubmit="if(!confirm('Xóa khu vực?')){return false;}" id="formarea">
    <input type="hidden" name="id" id="idarea"/>
</form>
@section scripts {

    <script type="text/javascript" >
        function removeArea(id) {
            $('#idarea').val(id);
            $('#formarea').submit();
        }
        

    </script>

}