@model NDHSITE.Models.RegisterViewModel
@{
    ViewBag.Title = "ModifyStaff";

    var staffInfo = ViewBag.StaffInfo as NDHSITE.Models.HaiStaff;
}

<div class="page-header">
    <h3 class="page-title">Thông tin nhân viên</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Thông tin nhân viên</a></li>
    </ol>
</div> <!-- /.page-header -->


<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-3 layout-sidebar">

                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="@(ViewBag.TabActive == "1"?"active":"")">
                        <a href="#staffinfo" data-toggle="tab">
                            Thông tin nhân viên
                        </a>
                    </li>
                    <li class="@(ViewBag.TabActive == "2"?"active":"")">
                        <a href="#addaccount" data-toggle="tab">
                            Tạo tài khoản
                        </a>
                    </li>
                </ul>

            </div> <!-- /.col -->
            <div class="col-md-10 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="@(ViewBag.TabActive == "1"?"tab-pane fade in active":"tab-pane fade")" id="staffinfo">
                        <form method="post" onsubmit="if(!confirm('Chỉnh sửa thông tin?')){return false;}" enctype="multipart/form-data">

                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tên đầy đủ</label>
                                            <input type="text" name="FullName" class="form-control" value="@staffInfo.FullName" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="Id" value="@staffInfo.Id" />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Mã nhân viên</label>
                                            <input type="text" name="Code" class="form-control" value="@staffInfo.Code" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Chọn chi nhánh</label>

                                            <select class="form-control selectpicker" data-live-search="true" name="BranchId" required>
                                                @foreach (var item in ViewBag.AllBranch)
                                                {
                                                    if (item.Id == staffInfo.BranchId)
                                                    {
                                                        <option data-tokens="@item.Name" value="@item.Id" selected>@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option data-tokens="@item.Name" value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Phòng ban</label>
                                            <select class="form-control selectpicker" data-live-search="true" name="DepartmentId">
                                                @foreach (var item in ViewBag.AllDepartment)
                                                {
                                                    if (item.Id == staffInfo.DepartmentId)
                                                    {
                                                        <option data-tokens="@item.Name" value="@item.Id" selected>@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option data-tokens="@item.Name" value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Chức vụ</label>
                                            <select class="form-control selectpicker" data-live-search="true" name="PositionId">
                                                @foreach (var item in ViewBag.AllPosition)
                                                {
                                                    if (item.Id == staffInfo.PositionId)
                                                    {
                                                        <option data-tokens="@item.Name" value="@item.Id" selected>@item.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option data-tokens="@item.Name" value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tình trạng</label>
                                            <input type="text" name="Notes" class="form-control" value="@staffInfo.Notes" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <input type="text" name="birthday" class="form-control" id="datetimecreate" value="@staffInfo.BirthDay" />
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nơi sinh</label>
                                            <input type="text" name="PlaceOfBirth" class="form-control" value="@staffInfo.PlaceOfBirth" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="Email" class="form-control" value="@staffInfo.Email" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Điện thoại liên hệ</label>
                                            <input type="text" name="Phone" class="form-control" value="@staffInfo.Phone" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ảnh thẻ</label>
                                            <input type="file" name="avatar" class="form-control" accept="image/*" />
                                            <div class="thumbnail">
                                                <div class="thumbnail-view">
                                                    <a href="@staffInfo.AvatarUrl" class="image-link" title="@staffInfo.FullName">
                                                        <img src="@staffInfo.AvatarUrl" alt="@staffInfo.FullName" class="img-responsive" width="125" />
                                                    </a>
                                                </div>
                                            </div> <!-- /.thumbnail -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Chử ký</label>
                                            <input type="file" name="signature" class="form-control" accept="image/*" />
                                            <div class="thumbnail">
                                                <div class="thumbnail-view">
                                                    <a href="@staffInfo.SignatureUrl" class="image-link" title="@staffInfo.FullName">
                                                        <img src="@staffInfo.SignatureUrl" alt="@staffInfo.FullName" class="img-responsive" width="125" />
                                                    </a>
                                                </div>
                                            </div> <!-- /.thumbnail -->
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
                                </div>

                                @if (staffInfo.IsLock == 1)
                                {
                                    <a href="javascript:formActice('@staffInfo.Id', 0)">Mở khóa</a>
                                }
                                else
                                {
                                    <a href="javascript:formActice('@staffInfo.Id', 1)">Khóa tài khoản</a>
                                }
                            </fieldset>

                        </form>
                        <form method="post" action="/haistaff/activeaccount" id="formactive">
                            <input type="hidden" name="id" id="staffid" />
                            <input type="hidden" name="clock" id="clockid" />
                        </form>
                    </div>

                    <div class="@(ViewBag.TabActive == "2"?"tab-pane fade in active":"tab-pane fade")" id="addaccount">
                        @if (staffInfo.UserLogin == null)
                        {
                            using (Html.BeginForm("RegisterStaff", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <input type="hidden" name="StaffId" value="@staffInfo.Id" />
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Chọn quyền</label>
                                    <div class="col-md-10">
                                        <select name="role" class="form-control">
                                            @foreach (var item in ViewBag.RoleList)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-primary" value="Register" />
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h4>Tài khoản hiện tại: @staffInfo.UserLogin</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {

    <!-- bootstrap select-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <link href="~/content/bootstrap-datetimepicker.min.css" rel="stylesheet">
}

@section scripts {
    <!-- bootstrap select js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <!-- date bootstrap -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/scripts/moment-with-locales.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $('#datetimecreate').datetimepicker({
            locale: 'vi',
            format: 'MM/DD/YYYY HH:mm'
        });


        function formActice(id, stt) {
            $("#staffid").val(id);
            $('#clockid').val(stt);
            $('#formactive').submit();
        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}