@model PagedList.IPagedList<NDHSITE.Models.TreeInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage";
}

<<div class="page-header">
    <h3 class="page-title">Quản lý cây trồng</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Quản lý cây trồng</a></li>
    </ol>
</div> <!-- /.page-header -->

<p class="">Trang quản lý cây trồng của công ty cổ phần Nông Dược Hai, đây là trang chỉ cấp quyền cho Admin.</p>

<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-3 layout-sidebar">
                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="active">
                        <a href="#allproduct" data-toggle="tab">
                            Danh sách cây trồng
                        </a>
                    </li>
                    <li>
                        <a href="#addproduct" data-toggle="tab">
                            Thêm cầy trồng
                        </a>
                    </li>
                    <li>
                        <a href="#addfromexcel" data-toggle="tab">
                            Thêm từ Excel
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="tab-pane fade in active" id="allproduct">
                        <div class="row">
                            <form method="get">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="search" value="@ViewBag.SearchText" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">Tìm cầy trồng</button>
                                </div>
                            </form>
                        </div>

                        <br />

                        <fieldset>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tên cây trồng</th>
                                        <th>Loại cây</th>
                                        <th>Tổng diện tích (m2)</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày tạo</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.TreeType</td>
                                        <td>@item.Acreage</td>
                                        <td>@item.STT</td>
                                        <td>@item.CreateDate.Value.ToShortDateString()</td>
                                            <td class="text-center valign-middle">
                                                <a  href="/product/modifyproduct/@item.Id" target="_blank">Sửa</a>
                                                &nbsp;&nbsp;&nbsp;<a  href="javascript:deleteFunc('@item.Id')">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("manage",
                              new { page, search = ViewBag.SearchText}))
                        </fieldset>

                        <form method="post" action="/tree/delete" id="formdelete" onsubmit="if(!confirm('Xóa cây trồng?')){return false;}">
                            <input type="hidden" name="Id" id="productid" />
                        </form>


                    </div>


                    <div class="tab-pane fade" id="addproduct">

                        <form method="post" onsubmit="if(!confirm('Thêm cây trồng mới?')){return false;}" action="/tree/addtree">
                            <fieldset>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tên cây trồng</label>
                                            <input type="text" name="Name" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Loại cây trồng</label>
                                            <input type="text" name="TreeType" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tổng diện tích</label>
                                            <input type="text" name="Acreage" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <input type="text" name="STT" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Thêm cây trồng</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="addfromexcel">
                        <fieldset>
                            <form method="post" enctype="multipart/form-data" onsubmit="if(!confirm('Thêm cây trồng mới?')){return false;}" action="/tree/excelTree">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tải file Excel cây trồng lên:</label>
                                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control" name="files" />
                                            <a href="~/haiupload/DS CAY TRONG.xlsx" class="form-control">Tải file mẫu</a>
                                        </div>

                                        <button class="btn-primary btn" type="submit">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
 
        function deleteFunc(id) {
            $("#productid").val(id);
            $("#formdelete").submit();
        }


    </script>
}