@model PagedList.IPagedList<NDHSITE.Models.C2Info>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Đại lý cấp 2";
}

<div class="page-header">
    <h3 class="page-title">Đại lý cấp 2</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Đại lý cấp 2</a></li>
    </ol>
</div> <!-- /.page-header -->


<p class="">Trang quản lý tất cả các khách hàng của công ty cổ phần Nông Dược Hai, đây là trang chỉ cấp quyền cho Admin.</p>

<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-3 layout-sidebar">
                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="active">
                        <a href="#allagency" data-toggle="tab">
                            Đại lý cấp 2
                        </a>
                    </li>
                    <li>
                        <a href="#addagency" data-toggle="tab">
                            Thêm đại lý cấp 2
                        </a>
                    </li>
                    <li>
                        <a href="#addagencexcel" data-toggle="tab">
                            Thêm từ file Excel
                        </a>
                    </li>
                    <li>
                        <a href="/agency/manageci">
                            Đại lý cấp 1
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="tab-pane fade in active" id="allagency">
                        <form method="get">
                            <input type="hidden" value="@ViewBag.SType" name="type" />
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" value="@ViewBag.SearchText" name="search" class="form-control" />
                                            <div class="input-group-btn">
                                                <button id="btnchoose" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.STypeName</button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a href="javascript:addtype(1, 'Mã đại lý')">Mã đại lý</a></li>
                                                    <li><a href="javascript:addtype(2, 'Số điện thoại')">Số điện thoại</a></li>
                                                    <li><a href="javascript:addtype(3 , 'Tên cửa hàng')">Tên cửa hàng</a></li>
                                                    <li><a href="javascript:addtype(4 , 'Mã cấp 1')">Mã cấp 1</a></li>
                                                    <li><a href="javascript:addtype(5 , 'Mã chi nhánh')">Mã chi nhánh</a></li>
                                                </ul>
                                            </div><!-- /btn-group -->
                                        </div>
                                    </div>


                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <select class="form-control" name="status">
                                            <option value="-1"  @(ViewBag.Status == -1?"selected":"")>Tất cả</option>
                                            <option value="1"  @(ViewBag.Status == 1?"selected":"") >Đang hoặt động</option>
                                            <option value="0"  @(ViewBag.Status == 0?"selected":"")>Chưa kích hoặt</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <button class="btn btn-primary" type="submit">Xem</button>
                                </div>

                            </div>
                        </form>
                        <fieldset>
                            <table class="table table-striped table-bordered thumbnail-table">
                                <thead>
                                    <tr>
                                        <th>Khách hàng</th>
                                        <th>Thông tin thêm</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr class="@(item.IsActive == 0?"warning":"")">
                                            <td>
                                                <span><strong class="semibold">Mã cấp 2:</strong> @item.CInfoCommon.CCode</span> <br />
                                                <span><strong class="semibold">Tên cửu hàng:</strong> @item.StoreName</span> <br />
                                                <span><strong class="semibold">Người đại diện:</strong> @item.Deputy</span> <br />
                                                <span><strong class="semibold">Khu vực:</strong> @item.CInfoCommon.HaiArea.Name</span> <br />
                                                <span><strong class="semibold">Chi nhánh:</strong> @item.CInfoCommon.BranchCode</span> <br />
                                                <span><strong class="semibold">Đại lý cấp 1:</strong> @item.C1Info.StoreName - @item.C1Info.Code</span> <br />
                                                <span><strong class="semibold">Tài khoản:</strong> @item.CInfoCommon.UserLogin</span><br />
                                                <span><strong class="semibold">CMND:</strong> @item.CInfoCommon.IdentityCard</span><br />
                                                <span><strong class="semibold">Số điện thoái:</strong> @item.CInfoCommon.Phone</span> <br />
                                                <span><strong class="semibold">Email:</strong> @item.CInfoCommon.Email</span> <br />
                                            </td>
                                            <td>

                                                <span><strong class="semibold">Địa chỉ:</strong> @item.CInfoCommon.AddressInfo</span> <br />
                                                <span><strong class="semibold">Tỉnh thành:</strong> @item.CInfoCommon.ProvinceName</span> <br />
                                                <span><strong class="semibold">Quận/huyện:</strong> @item.CInfoCommon.DistrictName</span> <br />
                                                <span><strong class="semibold">Mã số thuế:</strong> @item.CInfoCommon.TaxCode</span> <br />
                                                <span><strong class="semibold">Giấy phép kinh doanh:</strong> @item.CInfoCommon.BusinessLicense</span> <br />
                                                <span><strong class="semibold">Tài khoản ngân hàng:</strong> @item.CInfoCommon.BankAccount</span> <br />
                                                <span><strong class="semibold">Chủ tài khoản:</strong> @item.CInfoCommon.BankAccountHolder</span> <br />
                                                <span><strong class="semibold">Tên ngân hàng:</strong> @item.CInfoCommon.BackName</span> <br />
                                                <span><strong class="semibold">Ghi chú:</strong> @item.CInfoCommon.Notes</span>
                                            </td>
                                            <td class="text-center valign-middle">
                                                <a href="/agency/modifycii/@item.Id" target="_blank">Chi tiết</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("ManageCII",
                                                   new { page, status = ViewBag.Status, search = ViewBag.SearchText, type = ViewBag.SType }))

                        </fieldset>

                    </div>
                    <div class="tab-pane fade" id="addagency">
                        <form method="post" onsubmit="if(!confirm('Thêm khách hàng?')){return false;}">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Mã đại lý</label>
                                            <input type="text" name="Code" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Tên cửa hàng</label>
                                            <input type="text" name="StoreName" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Người đại diện</label>
                                            <input type="text" name="Deputy" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Đại lý cấp 1</label>
                                            <input class="form-control c1search" type="text" name="C1Code" autocomplete="off" required autofocus data-provide="typeahead">
                                        </div>
                                        <div class="form-group">
                                            <label>Hạng</label>
                                            <input type="text" name="CRank" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Chi nhánh</label>
                                            <select class="form-control selectpicker" data-live-search="true" name="BranchCode">
                                                @foreach (var item in ViewBag.BranchAll)
                                                {
                                                    <option value="@item.Code">@item.Name</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>CMND</label>
                                            <input type="text" name="IdentityCard" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" name="Phone" class="form-control" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" name="Email" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>TK ngân hàng</label>
                                            <input type="text" name="BankAccount" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Người hưởng thụ</label>
                                            <input type="text" name="BankAccountHolder" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ngân hàng - chi nhánh</label>
                                            <input type="text" name="BackName" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Langitude</label>
                                            <input type="number" name="Lat" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input type="number" name="Lng" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <input type="text" name="birthday" class="form-control" id="datetimecreate" />
                                        </div>
                                        <div class="form-group">
                                            <label>Nơi sinh</label>
                                            <input type="text" name="PlaceOfBirth" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ</label>
                                            <input type="text" name="AddressInfo" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Thành phố/tỉnh</label>

                                            <select class="form-control selectpicker" data-live-search="true" id="dsprovince">
                                                <option value="-1">--Chọn--</option>
                                                @foreach (var item in ViewBag.Provinces)
                                                {
                                                    <option data-tokens="@item.Name" value="@item.Id">@item.Name</option>
                                                }
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label>Quận/huyện</label>

                                            <select class="form-control" id="dsdistrict"></select>

                                        </div>
                                        <div class="form-group">
                                            <label>Phường/xã</label>

                                            <select class="form-control" id="dsward" required name="WardId"></select>

                                        </div>
                                        <div class="form-group">
                                            <label>Mã số thuế</label>
                                            <input type="text" name="TaxCode" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Giấy phép kinh doanh</label>
                                            <input type="text" name="BusinessLicense" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ghi chú</label>
                                            <textarea name="Notes" class="form-control"></textarea>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Thêm khách hàng</button>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <div class="tab-pane fade" id="addagencexcel">
                        <fieldset>
                            <form method="post" enctype="multipart/form-data" onsubmit="if(!confirm('Thêm đại lý cấp 2?')){return false;}" action="/agency/excelAgencyC2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control" name="files" />
                                        </div>

                                        <button class="btn-primary btn" type="submit">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" action="/agency/RemoveCII" onsubmit="if(!confirm('Xóa đại lý?')){return false;}" id="formagency">
    <input type="hidden" name="id" id="idagency" />
</form>
@section styles {

    <!-- bootstrap select-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
    <link href="~/content/bootstrap-datetimepicker.min.css" rel="stylesheet">
}

@section scripts {
    <!-- bootstrap select js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <!-- date bootstrap -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/scripts/moment-with-locales.min.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/scripts/bootstrap-typeahead.js"></script>
    <script type="text/javascript">

        function removeArea(id) {
            $('#idagency').val(id);
            $('#formagency').submit();
        }


        function addtype(id, name) {
            console.log(name);
            $('input[name=type]').val(id);
            $('#btnchoose').html(name);
        }
        databranch();

        function databranch() {
            $.ajax({
                url: "/agency/c1json",
                type: "get",
                success: function (response) {
                    $('.c1search').typeahead({
                        source: response,
                        display: 'Code',
                        val: 'Name',
                        itemSelected: displayResult
                    });

                }
            });
        }


        function displayResult(item, val, text) {
            console.log(item);
        }


        $('#datetimecreate').datetimepicker({
            locale: 'vi',
            format: 'MM/DD/YYYY'
        });



        $("#dsprovince").change(function () {
            var id = $("#dsprovince").val();

            if (id == -1) {
                $("#dsdistrict").html("");
            } else {
                $.ajax({
                    url: "/Agency/JsonDistict",
                    data: { Provinceid: id },
                    success: function (response) {
                        $("#dsdistrict").html("");
                        $("<option value='-1'></option>").html("--chọn--").appendTo("#dsdistrict");
                        $(response).each(function (i, e) {
                            $("<option value='" + e.Id + "'></option>").html(e.Name).appendTo("#dsdistrict");
                        });
                    }
                });
            }
        });

        $("#dsdistrict").change(function () {
            var id = $("#dsdistrict").val();

            if (id == -1) {
                $("#dsward").html("");
            } else {
                $.ajax({
                    url: "/Agency/JsonWard",
                    data: { Id: id },
                    success: function (response) {
                        $("#dsward").html("");
                        $(response).each(function (i, e) {

                            $("<option value='" + e.Id + "'></option>").html(e.Name).appendTo("#dsward");
                        });
                    }
                });
            }
        });


    </script>
}