@model PagedList.IPagedList<NDHSITE.Models.C1Info>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách đại lý cấp 21";
}

<p>Xem danh sách <strong>đại lý cấp 2 : </strong> <a href="/showinfo/showcii">xem</a> </p>
<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            Danh sách đại lý
        </h4>
    </div> <!-- /.portlet-header -->
    <div class="portlet-body">

        <div class="row">
            <form method="get">
                <div class="col-sm-6">
                    <input type="hidden" value="@ViewBag.SType" name="type" />
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" value="@ViewBag.SearchText" name="search" class="form-control" />
                            <div class="input-group-btn">
                                <button id="btnchoose" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.STypeName</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:addtype(1, 'Mã đại lý')">Mã đại lý</a></li>
                                    <li><a href="javascript:addtype(2, 'Số điện thoại')">Số điện thoại</a></li>
                                    <li><a href="javascript:addtype(3 , 'Tên cửa hàng')">Tên cửa hàng</a></li>
                                    <li><a href="javascript:addtype(4 , 'Mã chi nhánh')">Mã chi nhánh</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Xem thông tin</button>
                </div>

            </form>
        </div>



        <fieldset>
            <table class="table table-striped table-bordered thumbnail-table">
                <thead>
                    <tr>
                        <th>Tên cửa hàng</th>
                        <th>Người đại diện</th>
                        <th>Thông tin cá nhân</th>
                        <th>Thông tin liên hệ</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr class="@(item.CInfoCommon.IsClock == 1?"warning":"")">
                            <td>@item.StoreName</td>
                            <td>@item.Deputy</td>
                            <td>
                                <span><strong class="semibold">Mã đại lý:</strong> @item.Code</span> <br />
                                <span><strong class="semibold">Khu vực:</strong> @item.CInfoCommon.HaiArea.Code</span> <br />
                                <span><strong class="semibold">Chi nhanhs:</strong> @item.CInfoCommon.BranchCode</span> <br />
                                <span><strong class="semibold">Tài khoản:</strong> @item.CInfoCommon.UserLogin</span><br />
                                <span><strong class="semibold">CMND:</strong> @item.CInfoCommon.IdentityCard</span><br />
                                <span><strong class="semibold">Tình trạng:</strong> @item.CInfoCommon.Notes</span>
                                <span><strong class="semibold">Người quyết định 1:</strong> @item.Decison1</span> <br />
                                <span><strong class="semibold">Ngày sinh 1:</strong> @item.Decision1Birthday</span> <br />
                                <span><strong class="semibold">Só điện thoại 1:</strong> @item.Decision1Phone</span> <br />
                                <span><strong class="semibold">Người quyết định 2:</strong> @item.Decison2</span> <br />
                                <span><strong class="semibold">Ngày sinh 2:</strong> @item.Decision2Birthday</span> <br />
                                <span><strong class="semibold">Số điện thoại 2:</strong> @item.Decision2Phone</span> <br />
                                <span><strong class="semibold">Ngày thành lập:</strong> @item.FoundingDate</span> <br />
                                <span><strong class="semibold">Ngày cưới:</strong> @item.WeddingDate</span> <br />
                            </td>
                            <td>
                                <span><strong class="semibold">Số điện thoái:</strong> @item.CInfoCommon.Phone</span> <br />
                                <span><strong class="semibold">Email:</strong> @item.CInfoCommon.Email</span> <br />
                                <span><strong class="semibold">Địa chỉ:</strong> @item.CInfoCommon.AddressInfo</span> <br />
                                <span><strong class="semibold">Tỉnh thành:</strong> @item.CInfoCommon.ProvinceName</span> <br />
                                <span><strong class="semibold">Quận huyện:</strong> @item.CInfoCommon.DistrictName</span> <br />
                                <span><strong class="semibold">Mã số thuế:</strong> @item.CInfoCommon.TaxCode</span> <br />
                                <span><strong class="semibold">Giấy phép kinh doanh:</strong> @item.CInfoCommon.BusinessLicense</span> <br />
                                <span><strong class="semibold">Giấy phép kinh doanh:</strong> @item.CInfoCommon.BusinessLicense</span> <br />
                                <span><strong class="semibold">Tài khoản ngân hàng:</strong> @item.CInfoCommon.BankAccount</span> <br />
                                <span><strong class="semibold">Chủ tài khoản:</strong> @item.CInfoCommon.BankAccountHolder</span> <br />
                                <span><strong class="semibold">Tên ngân hàng:</strong> @item.CInfoCommon.BackName</span> <br />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("showci",
                                                                                       new { page, areaId = ViewBag.AreaId, search = ViewBag.SearchText, type = ViewBag.SType }))

        </fieldset>

    </div>

</div>
@section styles {

    <!-- bootstrap select-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">
}

@section scripts {
    <!-- bootstrap select js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">

        function addtype(id, name) {
            console.log(name);
            $('input[name=type]').val(id);
            $('#btnchoose').html(name);
        }



    </script>
}
