@model PagedList.IPagedList<NDHSITE.Models.ProductInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage";
}

<div class="page-header">
    <h3 class="page-title">Quản lý sản phẩm</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Quản lý sản phẩm</a></li>
    </ol>
</div> <!-- /.page-header -->

<p class="">Trang quản lý sản phẩm của công ty cổ phần Nông Dược Hai, đây là trang chỉ cấp quyền cho Admin.</p>

<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-3 layout-sidebar">
                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="active">
                        <a href="#allproduct" data-toggle="tab">
                            Danh sách sản phẩm
                        </a>
                    </li>
                    <li>
                        <a href="#addproduct" data-toggle="tab">
                            Thêm sản phẩm
                        </a>
                    </li>
                    <li>
                        <a href="/product/productseri">
                            Danh sách seri
                        </a>
                    </li>
                    <li>
                        <a href="#excelproduct" data-toggle="tab">
                            Cập nhật từ file
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="tab-pane fade in active" id="allproduct">

                        <div class="row">
                            <form method="get">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="search" value="@ViewBag.SearchText" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-primary">Tìm sản phẩm</button>
                                        </div><!-- /btn-group -->
                                    </div>
                                </div>

                            </form>
                        </div>

                        <br />

                        <fieldset>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Mã SP</th>
                                        <th>Tên SP</th>
                                        <th>Giá bán</th>
                                        <th>Thông tin</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.PCode</td>
                                            <td>@item.PName</td>
                                            <td>
                                                <span><strong>Bán lẽ: </strong>@(item.Price != null ? item.Price.Value.ToString("C", NDHSITE.Util.Cultures.VietNam) : "0")</span><br />
                                                <span><strong>Giá thùng: </strong>@(item.Price != null ? (item.Price * item.Quantity).Value.ToString("C", NDHSITE.Util.Cultures.VietNam) : "0")</span>
                                            </td>
                                            <td class="file-info valign-middle">
                                                <span><strong class="semibold">Mã barcode:</strong> @item.Barcode</span><br />
                                                <span><strong class="semibold">Điểm thẻ:</strong> @item.CardPoint</span><br />
                                                <span><strong class="semibold">Điểm thùng:</strong> @item.BoxPoint</span><br />
                                                <span><strong class="semibold">Số hộp:</strong> @item.QuantityBox</span><br />
                                                <span><strong class="semibold">Quét hộp:</strong>@(item.IsBox == 1 ? "Có" : "Không")</span>
                                            </td>
                                            <td class="text-center valign-middle">
                                                <a href="/product/modifyproduct/@item.Id" target="_blank">Sửa</a> <br /><br />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("manage",
                              new { page, search = ViewBag.SearchText, type = ViewBag.SType }))
                        </fieldset>

                        <form method="post" action="/product/delete" id="formdelete" onsubmit="if(!confirm('Xóa sản phẩm?')){return false;}">
                            <input type="hidden" name="Id" id="productid" />
                        </form>

                    </div>
                    <div class="tab-pane fade" id="addproduct">
                        <form method="post" onsubmit="if(!confirm('Thêm sản phẩm mới?')){return false;}" action="/product/addproduct" enctype="multipart/form-data">
                            <fieldset>
                                <div class="row">

                                    <div class="col-sm-6">
                                        <table class="table">
                                            <tr>
                                                <td>Tên sản phẩm</td>
                                                <td><input type="text" name="PName" /></td>
                                            </tr>
                                            <tr>
                                                <td>Mã sản phẩm</td>
                                                <td><input type="text" name="PCode" /></td>
                                            </tr>
                                            <tr>
                                                <td>Barcode</td>
                                                <td><input type="text" name="Barcode" /></td>
                                            </tr>
                                            <tr>
                                                <td>Nhóm sản phẩm</td>
                                                <td>
                                                    <select name="PGroup">
                                                        @foreach (var item in ViewBag.PGroup)
                                                        {
                                                            <option value="@item.Id">@item.Name</option>
                                                        }
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="col-sm-6">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>Giá sản phẩm (đã VAT)</td>
                                                    <td><input type="number" name="Price" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Số lượng hộp</td>
                                                    <td><input type="number" name="QuantityBox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Yêu cầu CII quét hộp</td>
                                                    <td><input type="checkbox" name="IsBox" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Điểm thùng</td>
                                                    <td><input type="text" name="CardPoint" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Điểm thẻ</td>
                                                    <td><input type="text" name="BoxPoint" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Đơn vị tính</td>
                                                    <td><input type="text" name="Unit" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Thêm sản phẩm</button>
                                        </div>
                                    </div>

                                </div>

                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade in" id="excelproduct">
                        <fieldset>
                            <form method="post" enctype="multipart/form-data" onsubmit="if(!confirm('Cập nhật sản phẩm?')){return false;}" action="/product/excelproduct">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control" name="files" />
                                        </div>

                                        <button class="btn-primary btn" type="submit">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        function deleteFunc(id) {
            $("#productid").val(id);
            $("#formdelete").submit();
        }


    </script>
}