@model NDHSITE.Models.ProductInfo
@{
    ViewBag.Title = "ModifyProduct";
}

<div class="page-header">
    <h3 class="page-title">Chỉnh sửa sản phẩm</h3>

    <ol class="breadcrumb">
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="#">Chỉnh sửa sản phẩm</a></li>
    </ol>
</div> <!-- /.page-header -->



<div class="portlet portlet-boxed">
    <div class="portlet-header">
        <h4 class="portlet-title">
            Thông tin sản phẩm: @Model.PName
        </h4>
    </div> <!-- /.portlet-header -->
    <div class="portlet-body">
        <form method="post" onsubmit="if(!confirm('Chỉnh sửa sản phẩm ?')){return false;}" enctype="multipart/form-data">
            <fieldset>
                <div class="row">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input type="text" name="PName" class="form-control" value="@Model.PName" />
                        </div>
                        <div class="form-group">
                            <label>Mã sản phẩm</label>
                            <input type="text" name="PCode" class="form-control" value="@Model.PCode" />
                        </div>
                        <div class="form-group">
                            <label>Barcode</label>
                            <input type="text" name="Barcode" class="form-control" value="@Model.Barcode" />
                        </div>
                        <div class="form-group">
                            <label>Nhóm sản phẩm</label>
                            <select name="PGroup" class="form-control">
                                @foreach (var item in ViewBag.PGroup)
                                {
                                    if (item.Id == Model.GroupId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Nhà sản xuất</label>
                            <input type="text" name="Producer" class="form-control" value="@Model.Producer" />
                        </div>
                
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Số lượng hộp</td>
                                    <td><input type="number" name="QuantityBox" value="@Model.QuantityBox" /></td>
                                </tr>
                                <tr>
                                    <td>Yêu cầu CII quét hộp</td>
                                    <td><input type="checkbox" name="IsBox" @(Model.IsBox == 1 ? "checked" : "") /></td>
                                </tr>
                                <tr>
                                    <td>Sản phẩm trọng tâm</td>
                                    <td><input type="checkbox" name="Forcus" @(Model.Forcus == 1 ? "checked" : "") /></td>
                                </tr>
                                <tr>
                                    <td>Sản phẩm mới</td>
                                    <td><input type="checkbox" name="New" @(Model.New == 1 ? "checked" : "")/></td>
                                </tr>
                                <tr>
                                    <td>Ảnh hiển thị</td>
                                    <td><input type="file" name="Thumbnail" pattern="([^\s]+(\.(?i)(png))$)" /> <br />
                                        <img class="img-responsive" alt="img" height="100" width="100" src="@Model.Thumbnail" />
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td>Thêm hình ảnh</td>
                                    <td><input type="file" name="files" multiple pattern="([^\s]+(\.(?i)(png))$)" /></td>
                                </tr>
                                <tr>
                                    <td>Điểm thùng</td>
                                    <td><input type="text" name="CardPoint"  value="@Model.CardPoint"/></td>
                                </tr>
                                <tr>
                                    <td>Điểm thẻ</td>
                                    <td><input type="text" name="BoxPoint" value="@Model.BoxPoint" /></td>
                                </tr>
                                <tr>
                                    <td>Đơn vị tính</td>
                                    <td><input type="text" name="Unit" value="@Model.Unit" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
  

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea name="Describe" class="form-control">@Model.Describe</textarea>
                        </div>
                        <div class="form-group">
                            <label>Hướng dẫn</label>
                            <textarea name="Introduce" class="form-control">@Model.Introduce</textarea>
                        </div>
                        <div class="form-group">
                            <label>Chủ ý</label>
                            <textarea name="Notes" class="form-control">@Model.Notes</textarea>
                        </div>
                        <div class="form-group">
                            <label>Lưu ý khác</label>
                            <textarea name="Other" class="form-control">@Model.Other</textarea>
                        </div>
        
                    </div>
  
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Sửa sản phẩm</button>
                        </div>
                    </div>


                </div>

            </fieldset>
        </form>


        <br />
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProductImages.ToList())
                {
                    <tr>
                        <td><img class="img-responsive" alt="img" height="100" width="100" src="@item.ImageUrl" /></td>
                        <td><a href="/product/deleteProductImage/@item.Id">Xóa</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

