@model PagedList.IPagedList<NDHSITE.Models.ProductSeri>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage";
}

<div class="page-header">
    <h3 class="page-title">Seri sản phẩm</h3>
</div> <!-- /.page-header -->

<div class="portlet portlet-boxed">

    <div class="portlet-body">
        <div class="layout layout-main-right layout-stack-sm">
            <div class="col-md-2 col-sm-3 layout-sidebar">
                <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
                    <li class="active">
                        <a href="#allseri" data-toggle="tab">
                            Danh sách seri
                        </a>
                    </li>
                    <li>
                        <a href="#addseri" data-toggle="tab">
                            Thêm seri
                        </a>
                    </li>
                    <li>
                        <a href="#addfromexcel" data-toggle="tab">
                            Thêm từ Excel
                        </a>
                    </li>
                    <li>
                        <a href="/product/manage">
                            Danh sách sản phẩm
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-9 layout-main">
                <div id="settings-content" class="tab-content stacked-content">
                    <div class="tab-pane fade in active" id="allseri">
                        <div class="row">
                            <form method="get">

                                <div class="col-sm-8">
                                    <div class="from-group">
                                        <input type="text" class="form-control" name="search" value="@ViewBag.SearchText" />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="stt">
                                            @if (ViewBag.STT == 1)
                                            {
                                                <option value="1" selected>Đã sử dụng</option>
                                                <option value="0">Chưa sử dụng</option>
                                            }
                                            else
                                            {
                                                <option value="1">Đã sử dụng</option>
                                                <option value="0" selected>Chưa sử dụng</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-primary">Tìm theo sản phẩm</button>
                                </div>
                            </form>
                        </div>

                        <br />

                        <fieldset>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Số seri</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Mã sản phẩm</th>
                                        <th>Ngày nhập</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Seri</td>
                                            <td>@item.PName</td>
                                            <td>@item.ProductInfo.PCode</td>
                                            <td>@item.CreateDate</td>
                                            <td class="text-center valign-middle">
                                                <a class="btn btn-xs btn-secondary" href="javascript:deleteFunc('@item.Id')"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("showseri",
                              new { page, search = ViewBag.SearchText, stt = ViewBag.STT }))
                        </fieldset>

                        <form method="post" action="/product/deleteSeri" id="formdelete" onsubmit="if(!confirm('Xóa seri sản phẩm?')){return false;}">
                            <input type="hidden" name="Id" id="productid" />
                        </form>

                    </div>
                    <div class="tab-pane fade" id="addseri">
                        <fieldset>
                            <form method="post" enctype="multipart/form-data" onsubmit="if(!confirm('Thêm seri ?')){return false;}" action="/product/addseri">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Chọn sản phẩm</label>
                                            <select class="form-control selectpicker" name="product" data-live-search="true">
                                                @foreach (var item in ViewBag.Products)
                                                {
                                                    <option value="@item.Id">@item.PName</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Từ số</label>
                                            <input type="number" class="form-control" name="fromnumber" value="0" />
                                        </div>
                                        <div class="form-group">
                                            <label>Tới số</label>
                                            <input type="number" name="tonumber" value="0" class="form-control" />
                                        </div>

                                        <button class="btn-primary btn">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                    <div class="tab-pane fade" id="addfromexcel">
                        <fieldset>
                            <form method="post" enctype="multipart/form-data" onsubmit="if(!confirm('Thêm danh mục seri?')){return false;}" action="/product/excelSeri">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Tải file Excel seri lên:</label>
                                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control" name="files" />
                                            <a href="~/haiupload/DS SERI SP.xlsx" class="form-control">Tải file mẫu</a>
                                        </div>

                                        <button class="btn-primary btn">Cập nhật</button>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles {

    <!-- bootstrap select-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

}


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">

        function deleteFunc(id) {
            $("#productid").val(id);
            $("#formdelete").submit();
        }


    </script>
}